.background-color-green{
    background-color: var(--color-background) !important;
}
.background-color-main-color-3{
    background-color: var(--color-main-3) !important;
}
.background-color-green-linear{
    background: linear-gradient(45deg, var(--color-background), var(--color-black));
}
.main-color{
    color: var(--color-main) !important;
}
svg.main-color{
    path{
        fill: var(--color-main) !important;
    }
}
.main-color-2{
    color: var(--color-main-2) !important;
}
svg.main-color-2{
    path{
        fill: var(--color-main-2) !important;
    }
}
.main-color-3{
    color: var(--color-main-3) !important;
}
svg.main-color-3{
    path{
        fill: var(--color-main-3) !important;
    }
}

.main-color-4{
    color: var(--color-background) !important;
}


.gradient-background {
  background: linear-gradient(265deg,#00c073,#ea00a6,#ffb600);
  background-size: 180% 180%;
  animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



