.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.flex-gap-05rem{
    gap: .5rem;
}

.flex-gap-1rem{
    gap: 1rem;
}
.flex-gap-2rem{
    gap: 2rem;
}


.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}

.align-items-baseline{
    align-items: baseline;
}


.align-self-end{
    align-self: flex-end;
}
.align-self-center{
    align-self: center;
}






.justify-self-end{
    justify-self: end;
}
.justify-self-start{
    justify-self: start;
}
.justify-self-center{
    justify-self: center;
}



.width-100{
    width: 100%;
}

.text-align-center{
    text-align: center;
}