.background-color-green{
    background-color: var(--color-background);
}


.grid-layout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
}



.banner-img{
    
}


@media screen and (max-width: 1000px){
    .grid-layout{
        grid-template-columns: 1fr;
    }
}