@font-face {
    font-family: "Avenir";
    src: url("./fonts/avenir/AvenirLTStd-Roman.otf");
}
@font-face {
    font-family: "Avenir-light";
    src: url("./fonts/avenir/AvenirLTStd-Light.otf");
}

:root{
    --color-main: #00c073;
    --color-main-2: #ea00a6;
    --color-main-3: #ffb600;

    --color-background: #004a39;

    --color-secondary: #6450a2;
    --color-secondary-2: #c4b7da;
    --color-white: #ffffff;
    --color-black: rgb(16, 16, 16);
    
    --color-white-transparent: rgba(238, 233, 233, 0.637);
    --color-overlay: #0505058d;
    --color-gray: #909291;

    --color-shadow: rgba(0, 0, 0, 0.221);



    --title-font: "Avenir";
    --font-thin: "Avenir-light";

    --font-h1: calc(2.5rem + 2vw);
    --font-h2: calc(1.5rem + 1vw);
    --font-h3: calc(1.2rem + 0.5vw);
    --font-p: 16px;

    --font-responsive-p: calc(1rem + 0.5vw);
    --font-menu: 20px;
}

/*
    Logo/symbol: #EA00A6, #00c073, # ffb600
    Grønn bakgrunn: #004a39
    Font: Avenir
*/