footer{
    background-color: var(--color-black);
    color: var(--color-white);

    padding: 10px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-items: center;
    gap: 5%;
}


.footerTitle{
    font-weight: 800;
    font-size: 40px;
    font-family: var(--title-font);
}


.footer-links{
    color: var(--color-gray);
    font-size: 14px;
}


@media screen and (max-width: 600px){
footer{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}
}

