footer{
    background-color: var(--color-black);
    color: var(--color-white);

    padding: 10px;
    padding-top: 30px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-items: center;
    gap: 5%;
    
}


.footerTitle{
    font-weight: 800;
    font-size: 40px;
    font-family: var(--title-font);
}


.footer-links{
    color: var(--color-gray);
    font-size: 14px;
}



.footer-some-icons{
    cursor: pointer;
    transition: 0.3s;
}

.footer-some-icons:hover{
    scale: 1.2;
}

@media screen and (max-width: 1000px){
    footer{
        grid-template-columns: 1fr 2fr 1fr;
    }

    .footer-logo{
        justify-self: center;
        flex-direction: column-reverse;
        
    }

    .footer-some-section{
        justify-self: center;

        div{
            gap: 0;
            justify-content: space-evenly;
        }
    }

    .footer-inner-section{
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 800px){
    footer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 0;
        section{
            margin-bottom: 5%;
        }
    }
}

